<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My Events</title>
</head>
<body class="bg-dark">
    <div class="nav align-items-center mb-4">
        <h2 class="text-success mr-auto">My Events!</h1>
        <a class="btn btn-primary" href="/dash">Home</a>
        <a class="nav-link" href="/conserve/events"> Events </a></li>

    </div>
    <div>
        <ul>
            <li class="text-white">
                {% for event in events %}
                    <p>{{event.name}}: {{event.date}}</p>
                    <p>created by: {{event.user.first_name}} {{event.user.last_name}}</p>
                    <p><a  class="btn btn-success" href="/conserve/update_event/{{event.id}}">Update this Event</a></p> 
                {% endfor %}    
            </li>
        </ul>
    </div>
</body>
</html>