body {
background: linear-gradient(rgba(0, 0, 0, .5), transparent),url('/static/img/mountains_and_lake.jpg');
}

h1,
h1.p-5,
h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  color: rgb(12, 129, 57);
}

.main-head {
  font-size: 4rem;
}

label {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 1.4rem;
}

.form-container {
  border-radius: .5rem;
  background: rgba(70, 27, 27, 0.8);
}