<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c5b8e1eca5.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <h2 class="head-label">Conservation Connectors</h2>
        <ul class="navbar-nav">
            <div class="nav">
                <li class="nav-item "><a class="nav-link" href="/conserve/events"> Events </a></li>
                <li class="nav-item"><a class="nav-link" href="/conserve/my_events/{{user.id}}">Your Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile/{{user.id}}">Profile Settings</a></li>
                <li class="nav-item active"><a class="nav-link" href="/logout"> Log Out </a></li>
            </div>
        </ul>
    </div>
    <h3 class="text-white p-2">Welcome, {{user.first_name}}</h3>
    <div class="d-flex">
        <div class="p-2">
            <div class="">
                Here at Conservation Connectors, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, voluptatum! Autem, nihil? Iusto assumenda 
                doloribus ipsum quidem id dolorum, obcaecati cupiditate, pariatur praesentium quos debitis accusantium esse. 
                Fugiat, provident ab.
            <img src="static/images/pine_creek_gorge.jpeg"  class='rounded float-left' alt="Pine Creek Gorge">
            </div>
        </div>
        <div class="p-2">
            <p>
                By taking care of the our natural resources, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sit est sed eaque modi hic atque officiis 
                quidem fugiat, soluta veritatis placeat dolores repudiandae dignissimos quis facere adipisci alias vitae!
            </p>
            <img src="static/images/park_clean_ani.png" class='rounded float-right' alt="park clean-ani">
        </div>
    </div>

</body>
</html>